{% include 'header.html' %}

<main role="main">

    <div class="container">
        <h2 class="text-center">Vehicles seeking your companionship</h2>
        <div class="table-responsive">
            <table id="dataTable" class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Model Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Sitting Capacity</th>
                        <th scope="col">Total Registered</th>
                        <th scope="col">Voided Reason</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for vehicle in vehicles %}
                    <tr>
                        <td><a class="btn btn-link" href="#">{{ vehicle.model_id }}</a></td>
                        <td>{{ vehicle.vendor }}</td>
                        <td>{{ vehicle.model }}</td>
                        <td>{{ vehicle.type }}</td>
                        <td>{{ vehicle.capacity }}</td>
                        <td>0</td>
                        <td>
                            {% if vehicle.voided %}
                                <span class="void-reason">{{ vehicle.void_reason }}</span>
                            {% else %}
                                <form action="{% url 'voidvehicle' vehicle_id=vehicle.model_id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" name="void_reason" class="form-control" placeholder="Enter reason (optional)">
                                        <div class="input-group-append">
                                            <button class="btn btn-danger" type="submit">Disable</button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </td>
                        <td>
                            <button class="btn btn-warning">Edit</button>
                            {% if vehicle.voided %}
                                <form action="{% url 'unvoidvehicle' vehicle_id=vehicle.model_id %}" method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <button class="btn btn-primary" type="submit">Enable</button>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <a class="btn btn-success" href="{% url 'createvehicle' %}">Add yours</a>
    </div> <!-- /container -->

</main>

{% include 'footer.html' %}
